<html>
    <head>
        
    </head>
    <body>
        <h1>Welcome to the Webapp!!</h1><br>

        <h3>Select the options below</h3>
        <div>
            <a class="comp" href="/companies/">Show all the Companies list</a>
        
            <a class="addcomp" href="/addcompany/">Add the company of your choice</a>
        </div>
    </body>

<style>
    .comp{
    text-decoration: none;
    color: white;
    background-color: rgb(138, 232, 138);
    padding: 11px 19px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.addcomp{
    text-decoration: none;
    color: white;
    background-color: rgb(106, 184, 226);
    padding: 11px 19px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
</style>
</html>